<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Three-Answer Question Page</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script type="text/javascript" src="style.js"></script>
    </head>
    
    <body>
        
        <div id="content">
        <div class="top">
            <button type="button" class="mainMenu" onclick="mainMenu()"> Main Menu </button>
            <div class="quizTitle">
                <p>Are you a romantic?</p>
            </div>
        </div>
        
        <div class="question">
            <h1> Which fast food chain has the best fries? </h1>
        </div>
        <div class=answers>
            <ul class=choices>
                <li>
                    <input type="radio" name="question1" value="classical" id="mcdonalds"> <label for="mcdonalds">McDonald's</label>
                </li>
                <li>
                    <input type="radio" name="question1" value="romantic" id="wendys"> <label for="wendys">Wendy's</label>
                </li>
                <li>
                    <input type="radio" name="question1" value="romantic" id="fiveGuys"> <label for="fiveGuys">Five Guys</label>
                </li>
            </ul>
            </div>
        
        <div class="nextAndBack">
            <button class="navButton" type="button" id="nextButton" onclick="finish()">Next</button>
            
            
            <button class="navButton" type="button" id = "backButton" onclick="back()">Back</button>
        </div>
        </div>
    <footer></footer> 
    </body>    
</html>