<!DOCTYPE html>
<html>
    <head>
        <title>Romantic Quiz Summary</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <!--Scripts-->
    </head> 
    <body>
        <header>Romantic Quiz</header>
        <div class="content" id="romanticQuizSummary">
            <div class="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="buttonContainer">
                <a href="../chooseYourQuiz/chooseYourQuiz.html"><button class="navButton">Choose a different quiz</button></a>
                <a href="../questionPage/2answer.html"><button class="navButton">Play!</button></a>
            </div>
        </div>
        <footer></footer>
        <!--Scripts-->
    </body>
</html>

