body{
    width: 1024px;
    height: 768px
}

#top {
    width: 1024px;
    height: 104px;
    border-width: 10px;
    border-color:black
}

.mainMenu {
    width: 178px;
    height: 104px;
    font-size: 20pt;
}

#quizTitle {
    width: 846px;
    height: 104px;
    float:right;
    text-align: right
}

.question {
    float: center;
    text-align: center
    
}
.answers {
    width: 1024px;
    height: 500px;
}

.choices {
    list-style-type: none;
    width: 1024px;
    height: 370px;
    float: left;
    margin: 31px
}

.choices li {
    float:left;
    width: 417px;
    height: 364px;
    margin: 31px;
    background-color: skyblue;
    text-align: center
}

.choices input[type="radio"]:checked + label {
    background:blue;
}

.nextAndBack {
    width: 1024px;
    height: 100px;
    float: left;
    text-align: center
}

#nextButton {
    float: right;
    width: 178px;
    height: 80px;
    font-size: 20pt
}

#backButton {
    float: left;
    width: 178px;
    height: 80px;
    font-size: 20pt
}
