body{
    width: 1024px;
    height: 768px
}

/* Container for main menu button, quiz title, and question */ 
#quiz .top {
    width: 1024px;
    height: 104px;
    border-width: 10px;
    border-color:black
}

#quiz .mainMenu {
    width: 178px;
    height: 104px;
    font-size: 20pt;
}

#quiz .top .quizTitle {
    width: 846px;
    height: 104px;
    float:right;
    text-align: right
}

#quiz .question {
    float: center;
    text-align: center
    
}

/*Answers*/

#quiz .answers {
    width: 1024px;
    height: 500px;
}

/* list*/ 
#quiz .choices {
    list-style-type: none;
    width: 1024px;
    height: 370px;
    float: left;
    margin: 31px
}

/* hide radio buttons */
input[type=radio]{
    display:none;
}

/* labels */
.choices label {
    display: inline-block;
    background-color: aquamarine;
    width: 417px;
    height: 364px;
    font-size: 40pt;
}

/* when checked */ 
.choices input[type="radio"]:checked + label {
    background-color: blue;
}

#quiz .choices li {
    float:left;
    width: 417px;
    height: 364px;
    margin: 31px;
    background-color: skyblue;
    text-align: center
}

/*Next and back container*/

#quiz .nextAndBack {
    width: 1024px;
    height: 100px;
    float: left;
    text-align: center
}

#nextButton {
    float: right;
    width: 178px;
    height: 80px;
    font-size: 20pt
}

#backButton {
    float: left;
    width: 178px;
    height: 80px;
    font-size: 20pt
}
