<!DOCTYPE html>
<html>
	<head>
		<title>Share Your Results</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
 	</head>
	<body>
    <header>Share Results!</header>
		<div class="content" id="shareResult">
      <a href="../quitPage/quitpage.html"><button class="navButton">Menu</button></a>
      <a href="../sentResultsConfirmation/sentResultsConfirm.html"><button class="navButton">Send</button></a>
  		<div class="userInput">
    		<form>
        	First name:<br>
  				<input type="text" name="firstname"><br>
  				Last name:<br>
  				<input type="text" name="lastname"><br>
  			Email: <br>
        		<input type="text" name="email">
  			 <br>
      	</form>
  		</div>
  		<div class="boxes"><br>
  			<input type="checkbox">I agree to <a href="../privacy/privacy.html">privacy</a><br>
  			<input type="checkbox">13+<br>
  			<input type="checkbox">Subscribe<br>
  		</div>
      <a href="../resultsPage/resultspage.html"><button type="button" id="goforward">Back to Results</button></a>
		</div>
  </body>
</html>

