<!DOCTYPE html>
<html>
    <head>
        <title>Results Sent</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
     <!--Scripts-->
    </head>
    <body>
    <header>Send Your Results</header>
    <div class="content" id="sentResultsConfirm">
        <div class="center">
            <p>Your Results Were Sent!</p>
            <div class="buttonWrapper">
                <a href="../resultsPage/resultsPage.html"><button class="returnToResults">Back To Results</button></a>
                <a href="../chooseYourQuiz/chooseYourQuiz.html"><button class="returnToHome">Main Menu</button></a>
            </div>
        </div>
    </div>
</body>
</html>