<!DOCTYPE html>
<html>
    <head>
        <title>Send Results</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
     <!--Scripts-->
    </head>
    <body>
        <header>Send Your Results</header>
        <div class="content" id="sentResultsConfirm">
            <div class="description">
                <p>Your Results Were Sent!</p>
            </div>
            <div class="buttonContainer">
                <a href="../resultsPage/resultsPage.html"><button class="navButton">Back To Results</button></a>
                <a href="../chooseYourQuiz/chooseYourQuiz.html"><button class="navButton">Main Menu</button></a>
            </div>
        </div>
        <footer></footer>
    </body>
</html>