.content {
}

#chooseYourQuiz {
    text-align: center;
}

.buttons {
    font-family:cursive;
    font-size:21pt;
    margin:20%;
    border-radius: 75px;
    background: white;
    border-color: black;
}

header {
    margin-top: 4%;
    text-align: center;
    font-size:45pt;
    font-family: monospace;
}

#maryButton {
    width:250px;
    height:180px;
}

#romanticButton {
    width:250px;
    height:180px;
}

.descriptions {
    font-size:16pt;
    font-family:Verdana;
    margin: -5%;
}


#maryQuizAndDescription {
    float:left;
    height:70%;
    width: 45%;
}

#romanticQuizAndDescription {
    float: right;
    height:70%;
    width: 45%;
}

#quizButtonsAndDescriptions {
    
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin: auto;
    height: 425px;
    width: 70%;
}