.title{
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  width: 50%;
  margin-top: 20%;
  border-radius: 25px;
}

.body{
  margin: 0 auto;
  text-align:center;
  border: 1px solid black;
  width: 50%;
  margin-top:3%;
  border-radius: 25px;
}

#buttonContainer {
  margin-left:47%;
}